# gradle

.gradle/
build/
out/
classes/
gradlew.bat

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws
.gitignore

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/gradle/
